// Заголовки, загальні БЕМ блоки та інше...
.category {
  background: rgba(87, 83, 83, 0.15);
  border-radius: rem(8);
  padding: rem(5) rem(10);
  display: inline-block;
  color: #fff;
  font-family: Roboto;
  font-size: rem(10);
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
  &:hover{
    background: rgba(34, 31, 31, 0.5);    
  }
}
//========================================================================================================================================================
.title {
  font-weight: 700;
  color: #fff;
  font-size: rem(36);
  line-height: 1.3;
}
.title--dark {
  color: #495057;
}
//========================================================================================================================================================
.text {
  font-size: rem(12);
  line-height: 1.66;
}
//========================================================================================================================================================
[data-item]{
  transform: translate(0, rem(50));
  opacity: 0;
  transition: 0.8s;
  &.active{
    transform: translate(0, 0);
    opacity: 1;
  }
}