//====================================================================================================
.footer {
  background: #343A40;
  padding: rem(30) 0;
  // .footer__container
  &__container {
   display: flex;
  justify-content: space-between;
  gap: rem(15);
  color: #E5E5E5;
  line-height: 1.3; 
  }  
  // .footer__text
  &__text {
    text-transform: uppercase;
    font-weight: 700;
  }
  // .footer__up
  &__up {
    &:hover{
      text-decoration: underline;
    }
  }
}

//====================================================================================================
